@media screen and (max-width: 575px) {
    :root {
        --arrowdim: 21px;
        --arrowstyle: 6px solid grey;
    }
}

@media screen and (min-width: 575px) {
    :root {
        --arrowdim: 42px;
        --arrowstyle: 12px solid grey;
    }
}


.photography {
    margin: 0 2em;
}

.photo-equipment {
    display: none;
}

.equipment-list {
    text-align: left;
    margin: 9px auto;
}


ul {
    padding-inline-start: 6px;
    /* padding: 0; */
}

li {
    list-style: none;
}


.listbreak {
    margin-bottom: 6px;
}

.photos {
    display: flex;
    flex-wrap: wrap;
    gap: 1em; 
    justify-content: center;

    max-width: 575px;
    margin-bottom: 4em;

}


.photo-container {
    border-radius: 12px;

    overflow: hidden;
    /* position: relative; */
    z-index: 66;
}

.photo {
    /* position: relative; */
    z-index: 65;
    aspect-ratio: 4 / 3;
    width: 155px;
    border-radius: 12px;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    background-color: var(--midblue);

    transition: transform 320ms ease-in-out;

    cursor: pointer;
}

.photo:hover {
    transform: scale(1.2);
}

.slideshow {
    z-index: 69;
    position: absolute;

    padding: 1em;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: #336d;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.photoAndNav {
    width: 95%;
    max-height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.photoNav {
    z-index: 70;
    width: var(--arrowdim);
    height: var(--arrowdim);
    border-top: var(--arrowstyle);

    cursor: pointer;
}

.photoForward {
    border-right: var(--arrowstyle);
    transform: rotate(45deg)
}

.photoBack {
    border-left: var(--arrowstyle);
    transform: rotate(-45deg)
}

.activePhoto {
    max-width: 85%;
    max-height: 85%;
}