/* * {
    margin: 0;
    padding: 0;
    --fonts: "Karla", sans-serif;
} */

/* body {
    font-family: var(--fonts);
    color: #293264;
} */

.quiz > h1 {
    font-size: 32px;
    font-weight: 700;
}

.button-startgame {
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: 700;
    font-family: 'Nunito Sans', sans-serif;
    color: white;
    background-color: var(--midblue);
    box-shadow: 4px 2px 8px rgba(0, 0, 0, 0.18);
    border-radius: 4px;
    border: none;
    width: 150px;
    height: 36px;
    cursor: pointer;
    transition: background-color 160ms ease-in-out;
    align-self: center;
}

.button-startgame:hover {
    background-color: #397979;
}

.button-startgame:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.quiz-main {
    padding: 1em;
    display: flex;
    justify-content: center;
    width: 575px;
    /* min-height: 100vh; */
    margin: 1em auto;
    background-color: #848489;
    border-radius: 10px;
    position: relative;
}

.topright {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
}

.bottomleft {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
}

.welcome-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* background-color: lightblue; */
}

.quiz {
    /* max-width: 420px; */
    /* background-color: lightcyan; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
}

.quiz-question {
    max-width: 620px;
    display: flex;
    flex-direction: column;
}

.quiz-question > h2 {
    font-size: 18px;
    margin: 1em;
}

hr {
    margin: 1em 0;
}

.answers--container {
    display: flex;
    justify-content: space-evenly;
}

.answer {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 14px;
    font-weight: 600;
    padding: 6px 12px;
    margin: 0 1em;

    background-color: #ccc;
    color: var(--midblue);
    /* border: 1px solid #4D5B9E; */
    border-radius: 15px;

    cursor: pointer;
    transition: 
        background-color 160ms ease-in-out,
        border 160ms ease-in-out,
    ;
}

.answer:hover {
    background-color: white;

}

/* .answer:active {
    font-weight: 600;
    border: 1px solid white;
} */

.answer[data-selection="true"] {
    background-color: yellow;
    border: none;
    font-weight: 600;
}

.answer[not-selected="true"] {
    border: 1px solid #4D5B9E;
    opacity: 0.5;
    cursor: default;
}

.answer[incorrect] {
    background-color: #F8BCBC;
    font-weight: 600;
    opacity: 0.5;
}

.answer[correct] {
    background-color: #94D7A2;
    font-weight: 600;
    border: none;
    opacity: 1;
}

.endgame {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.result {
    font-size: 21px;
    font-weight: 700;
}