:root {
    --blue: #0849BD;
    --grey: #131A28;
    margin: 0;
    padding: 0;

}

:root > * {
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 575px) {
    .nav--item {
        display: none;
    }

    .burger-menu {
        display: initial;
    }
}

@media screen and (min-width: 576px) {
    .burger-menu {
        display: none;
    }
}


body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: #1e2e3e;
    color: #ddd;
}

.App {
    text-align: center;
}


nav {
    height: 3em;
    background-color: var(--grey);

    font-size: 24px;
    font-weight: 600;
    color: white;

    display: flex;
    justify-content: space-around;
    align-items: center;

    border-bottom: 1px solid #999999;
}

.logo {
    text-decoration: none;
    color: white;
    font-weight: 900;
    margin: 0 auto 0 2em;

    transition: color 160ms ease-in;
}

.logo:hover {
    color: #ccc;
}

.logo:active {
    color: #666;
}

.nav--item {

    padding: 1em;
    font-size: 15px;
    cursor: pointer;

    transition: color 160ms ease-in;
}

.nav--item:hover {
    color: #ccc;
    text-decoration: line-through;
}

.nav--item:active {
    color: #666;
}

.burger-menu {
    padding: 1em;
    cursor: pointer;

}

.burger-menu--line {
    width: 30px;
    height: 3px;
    margin: 6px;
    border-radius: 5px;
    background-color: white;
}
