:root {
    --blue: #5272ad;
    --midblue: #394f79;
    --greyblue: #1E2E3E;
    --grey: #131A28;
    --bordercolor: #999999;
    margin: 0;
    padding: 0;

}

:root > * {
    margin: 0;
    padding: 0;
    position: relative;
}


body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: var(--greyblue);
    color: #ddd;
}

.App {
    position: relative;
    z-index: 0;

    text-align: center;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    position: relative;
    z-index: 69;
}

.content-section {
    margin: 0 auto;
    position: relative;
    top: 6em;
    z-index: -69;
    max-width: 575px;
}

